@font-face {
  font-family: 'Mehr';
  src: url('../Font/Mehr_web.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Aslam';
  src: url('../Font/Aslam.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('../Font/Rubik-Bold.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Light';
  src: url('../Font/Rubik-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'ScheherazadeNew';
  src: url('../Font/ScheherazadeNew-Bold.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'ScheherazadeNew-Regular';
  src: url('../Font/ScheherazadeNew-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}



.heading {
  font-family: 'Aslam', sans-serif;
   letter-spacing: 0.05em; /* slightly increase spacing */
}

.sub-heading {
  font-family: 'Mehr', sans-serif;
}